<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="alien" class="org.hibpro.Alien">
<!--        <constructor-arg value="21" />-->
<!--        <constructor-arg ref="lap1"/>-->
<!--        <constructor-arg value="50000"/>-->
<!--        <property name="lap" ref="lap1"/>-->

        <constructor-arg index="1" ref="lap1"/>
        <constructor-arg index="0" value="22"/>
        <constructor-arg index="2" value="60000"/>

    </bean>
    <bean id="lap1" class="org.hibpro.Laptop"/>
    <bean id="lap2" class="org.hibpro.Laptop"/>
</beans>
